<a href="https://colab.research.google.com/github/suddd092/ddd/blob/main/%EC%A0%9C%EC%A3%BC%EB%8C%80%ED%95%99%EA%B5%90_%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%EA%B8%B0%EC%B4%88%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주석

In [ ]:
# 주석입니다.

'''
여러줄
주석입니다.
'''

"""
여러줄
주석입니다.
"""

'\n여러줄\n주석입니다.\n'

# 변수

In [ ]:
1+1 # 이것은 1 더하기 1입니다

2

In [ ]:
1 + 1
2 + 2
3 + 3
4 + 4

8

In [ ]:
print(1 + 1) # 마지막 라인만 출력합니다.
print(2 + 2)
print(3 + 3)
print(4 + 4)

2
4
6
8

In [ ]:
name = 'leehojun'
age = 10

In [ ]:
age + age

20

In [ ]:
x = 10
y = x
z = y

# 화살표는?

# 오해: z -> y -> x -> 10
# x -> 10
# y -> 10
# z -> 10

In [ ]:
id(x), id(y), id(z)

(134991588377104, 134991588377104, 134991588377104)

In [ ]:
x = 10
y = x
z = y

y = 20
print(z)

10

In [ ]:
Apple = 10
apple = 20

In [ ]:
Apple, apple

(10, 20)

In [ ]:
hello1 = 100
hello2 = 200
hello3 = 300

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
name = 'hojun'
age = 10

print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [ ]:
name + name

'hojunhojun'

In [ ]:
age + age

20

In [ ]:
# 컴퓨터 입장에서는 두개 모두 2진수

In [ ]:
print(type(name))
print(dir(name))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
name.upper()

'HOJUN'

In [ ]:
0.1 * 3

0.30000000000000004

In [ ]:
f = 10.1
type(f)

float

In [ ]:
a = 10      # int, 정수형
b = -1      # int, 정수형
c = 0b110   # int, 정수형(2진법)
#0 1 10
d = 0o56    # int, 정수형(8진법)
# 0 1 2 3 4 5 6 7 10
e = 0xAC    # int, 정수형(16진법)
# 0 1 2 3 4 5 6 7 8 9 a b c d e f 10

f = 10.1    # float, 실수형

g = 10 + 2j # complex, 복소수

h = 'good'  # str, 문자열
i = '10'    # str, 문자열

j = True    # bool, 논리 자료형(부울형)

k = None    # NoneType

l = [1, 2, 3, 4]       # list, 리스트 자료형
m = ['one', 'two']     # list, 리스트 자료형
n = (1, 2, 3, 4)       # tuple, 튜플 자료형
o = ('one', 'two')     # tuple, 튜플 자료형
p = {'one':1, 'two':2} # dict, 딕셔너리 자료형
q = {1, 2, 3, 4}       # set, 셋 자료형

def r():    # function, 함수
    return

s = print # bulit-in function
t = lambda x:x**2 # function
u = int # type

class Character: # class, 클래스
    pass

hero = Character()    # instance
Villain = Character() # instance

# 정수 자료형

In [ ]:
x = 10
y = 3

print(x + y)
print(x - y)
print(x / y) # float, 실수형으로 반환
print(x // y) # int, 정수형으로 반환
print(-10 // 3) # 음수를 나눌 때 내림이라는 사실을 기억해주세요.
print(x * y)
print(x ** y)
print(4 ** 0.5) # 제곱근, 이렇게 많이 사용합니다.
print(x % y)# 나머지, 몫이 3이고 나머지가 1입니다. 1을 출력합니다.

13
7
3.3333333333333335
3
-4
30
1000
2.0
1

In [ ]:
bin(10) # ' ' 주의

'0b1010'

In [ ]:
int('0b1010', 2)

10

# 실수

In [ ]:
10.0 - 2 # 실수 - 정수하면?

8.0

In [ ]:
10 -2.0 # 정수 - 실수하면?

8.0

In [ ]:
float("inf") > 10

True

In [ ]:
-float("inf") < 10

True

In [ ]:
float("inf") * 2
float("inf") + 2
float("inf") / 2

inf

In [ ]:
float("-inf")
-float("inf")

-inf

# 문자열

In [ ]:
a = 'hello'
b = "hello"

In [ ]:
a[0] #0을 index라고 부릅니다. 이렇게 값을 호출하는 것을 indexing이라고 합니다.

'h'

In [ ]:
a[-1] # 실제로 연산될 때에는 음수를 양수로 전환한 후에 연산이 이뤄집니다.
# a[-1]는 a[4]와 같습니다.

'o'

In [ ]:
a[100] # 에러명 외워라 자주 봄

IndexError: string index out of range

In [ ]:
(a[0] + a[4]) * 2

In [ ]:
s = 'hello world' # 시험문제
s[0] + s[1] + s[2] + s[3] + s[4]

In [ ]:
# 위 처럼 어디서부터 어디까지의 문자열을 잘라내고 싶을 때
# 슬라이싱을 사용할 수 있습니다.
# 변수명[start:stop:step]
s = 'hello world' # step 생략가능
s[0:5]
s[6:-1]
s[6:0]
s[6:10]
s[6:11] # world
s[6:12] # world
s[6:13] # world
# 슬라이싱은 범위가 벗어나더라도 에러가 나지 않습니다.
s[6:] # 보통 마지막까지면 stop은 생략합니다.
s[:] # 처음부터 마지막까지라는 얘기입니다.
s[:5] # hello
s[::2] # 이런 코드는 실무에서 자주 사용 안 함
s[::-1] # 역순 출력 이 코드는 많이 사용
 # 이렇게 거의 사용 안 함

In [ ]:
#연습문제
# a.jpg, abc.png, abcd.mp4 이러한 값들이 들어왔을 때
# 확장자를 알아내는 코드를 작성하세요.
# 단, 확장자는 3자리로 고정합니다. (jpg, png, mp4 등)

s = 'hello.jpg' # 슬라이싱을 이용해 확장자를 구하시오

s[-3:]

In [ ]:
def solution(data):
    return data[-3:0]
for i in ['a.jpg']

In [ ]:
s = 'hello world'

s.upper()

In [ ]:
s.lower()

In [ ]:
# 문자열 메서드
s = 'hello'
dir(s)

In [ ]:
# 필수로 알아야 하는 메서드 목록
# count
# find
# index
# format
# isdigit
# join
# replace
# split
# strip
# zfill

In [ ]:
# count
'112233344'.count('1')
# '123123'.count(1)

# 모르셔도 됩니다.

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
str(l).count('1')

str(list(range(10000))).count('8')

In [ ]:
'hello world hello'.find('world')
'hello world hello'.find('hi')

# 나아가기
s = 'abcde'
if s.find('hi'):
    print(s[s.find('hi')], '찾았다!')

In [ ]:
'hello world hello'.index('world')
'hello world hello'.index('hi')

In [ ]:
'제 이름은 이호준 입니다. 제 나이는 10살 입니다.'

# name = '이호준'
name = '홍길동'
age = 10

'제 이름은 {} 입니다. 제 나이는 {}살 입니다.'.format(name, age)
'제 이름은 {0} 입니다. 제 나이는 {0}살 입니다.'.format(name, age)
'제 이름은 {1} 입니다. 제 나이는 {1}살 입니다.'.format(name, age)

In [ ]:
# f-string 용법(3.6에서 나온 문법입니다.)

f'제 이름은 {name} 입니다. 제 나이는 {age}입니다.'

In [ ]:
'123'.insdigit()
'12a3'.insdigit()

# int('123')
# int('12a3')

AttributeError: 'str' object has no attribute 'insdigit'

In [ ]:
'!'.join(['010', '5044', '2903'])
'-'.join(['010', '5044', '2903'])
# 나아가기
# '.'.join('hello') # join(순회 가능한 객체)

In [ ]:
'010.5044.2903'.split('.')

In [ ]:
# 나아가기
'-'.join('010.5044.2903'.split('.'))

In [ ]:
'hello world'.replace('hello', 'hi')
''.replace('hello', 'hi')

In [ ]:
# 1은 #으로 바꾸고 0은 공백으로 바꾸세요!
text = '101010'.replace('1', '#')
text = text.replace('0', ' ')
text

In [ ]:
# 보통 메서드 체이닝을 사용합니다.
'101010'.replace('1', '#').replace('0', ' ')
'101010'.replace('1', '#')

In [ ]:
# strip
'      hello        '
'      hello        '.strip()
'      hello world        '.strip()
'      hello world        '.replace(' ', '')

# 공백을 제거하는 용도로 replace를 사용하지 마세요.

In [ ]:
'3'.zfill(10) # 숫자나 날짜 표기할 때 많이 사용합니다.

In [ ]:
# 문제1 '24/03/18' 이렇게 되어 있는 문자를 '24-03-18'로 바꿔 주세요

'24/3/18'.replace('/', '-').replace('3', '3'.zfill(2))
# 좋은 정답은 아닙니다. 나중에 리스트도 배우고, 반복문도 배우면 좋은 정답을 사용하실 수 잇습니다.
'24/3/31'.replace('/', '-').replace('3', '3'.zfill(2))
# 이러한 경우가 잇어 좋은 정답은 아닙니다.

논리 자료형

In [ ]:
True
False
type(True)

In [ ]:
# 형변환
int('10')
int(10.1)

type(10)

In [ ]:
True == 1

In [ ]:
False == 0

In [ ]:
# 비교연산
a = 10
b = 3

print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)
print(a != b)

In [ ]:
# and 논리 곱
# or 논리 합
# not 부정

print(True and False)
print(False and True)
print(False and False)
print(True and True)

In [ ]:
# 나아가기
# 1/0

print(False and 1/0) # 단락평가

In [ ]:
print(True or False)
print(False or True)
print(False or False)
print(True  or True)

In [ ]:
# and or 가 어디서 사용되나요?
# for i in range(100):
#    print(i)

for i in range(100):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

for i in range(100):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

In [ ]:
not True

In [ ]:
not False

In [ ]:
print(bool(0))
print(bool(100))
print(bool(-1))
print(bool('hello'))
print(bool(''))

In [ ]:
# 비어있음을 명시적으로 나타내는 자료형
x = None
x # 출력하지 않습니다.

In [ ]:
print(x)

In [ ]:
'hello world'.replace('hello', 'hi')

In [ ]:
'hello world'.replace('hello', 'hi')
'hello world'.replace('hello', 'hi').replace('world', 'jeju')

In [ ]:
# 메서드 채이닝의 주의
# 처음의 값 'hello world'이 값에 메서드를 연속해서 쓰는 것이 아니라
# 각 메서드의 반환값을 연속해서 씁니다.

In [ ]:
# 'hello world'.split(' ').replace('hi', 'world')
# 위와 같은 코드는 에러입니다.

In [ ]:
'hello world'.replace('hi', 'world').replace('hi', 'world').replace('hi', 'world')

# 형 변환

In [ ]:
x = 10
y = '10'

x + y

In [ ]:
x + int(y)

In [ ]:
type(x)
type(y)

In [ ]:
'''
int()	정수로 변환
str()	문자열로 변환
float()	실수로 변환
list()	리스트로 변환
tuple()	튜플로 변환
dict()	딕셔너리로 변환
set()	셋으로 변환
'''

In [ ]:
int(10.3) + 1000

# 할당연산

In [ ]:
# 비교연산, 논리연산, 산술연산 모두 진행했습니다.

In [ ]:
a = 10
a = a + 10
a

In [ ]:
a = 10
a = a + 10
a = a / 3
a = a - 1
a

In [ ]:
a = 10
a += 10 # a = a + 10
a

# 식별연산

In [ ]:
x = 10
y = x

x is y

In [ ]:
id(x) == id(y)

In [ ]:
x = 10
y = 10

x is y

In [ ]:
x = 1000
y = 1000

x is y

In [ ]:
# -5 ~ 256
x = 257
y = 257

x is y

In [ ]:
x is not y

In [ ]:
# None 비교는 is로 해주세요!
x is None

# 멤버연산

In [ ]:
'h' in 'hello world'

In [ ]:
'h' not in 'hello world'

# 리스트

In [ ]:
# 1. 여러개의 데이터를 저장하고 싶을 때 사용
# 여러개의 데이터를 저장하고 싶을 때 주로 고려하는 자료형:
# 리스트, 딕셔너리, 클래스
# 2. 변경이 가능한 자료형입니다.
# 3. 순서가 있는 자료형입니다. (시퀀스형 자료형)
# 4. 순회가 가능한 자료형입니다. (이터러블한 자료형)

In [ ]:
s = [10, 20, 30, 40]
s = ['a', 'b', 'c', 'd']
s = [10, 'a', 10.1] #이런 식으로 다른 자료형들과 혼합해서 사용하진 않습니다.

In [ ]:
I = [10, 20, 30, 40]
I[0]
I[3]

In [ ]:
I[4]

In [ ]:
# 인덱싱이 가능하니 슬라이싱도 가능합니다.
# 시퀀스 자료형의 특징이고 앞에서 배웠던 문자열도 시퀀스형 자료형입니다.
I[:3]

In [ ]:
type(I)
dir(I)

In [ ]:
# append
# copy
# count
# extend
# index
# insert
# pop
# remove
# reverse
# sort

In [ ]:
l = [10, 20, 30]
l.append(100)
l

In [ ]:
x = [10, 20, 30]
y = x.copy()

y.append(100)

x, y

In [ ]:
[10, 20, 30, 30, 30, 20, 10].count(30)
['1', '2', '3', '3', '3'].count('3')

In [ ]:
# [10, 20, 30].append(40, 50)
x = [10, 20, 30]
x.append([40, 50])
x
x[3] #40이 나왔으면 좋곗는데 [40, 50]이 나옴

In [ ]:
x = [10, 20, 30]
x.extend([40, 50])
x

In [ ]:
# 나아가기
x = [10, 20, 30]
x.extend('hello')
x

In [ ]:
[10, 20, 30, 40, 1, 2, 10].index(30)

In [ ]:
x = [10, 20, 30]
x.insert(1, 10000)
x

In [ ]:
x = [10, 20, 30]
y = x.pop()
x

In [ ]:
y

In [ ]:
x = [10, 20, 30]
y = x.pop(0)
x

In [ ]:
y

In [ ]:
# 스택과 큐
# 스택: LIFO(last in first out) 후입선출
# 큐: FIFO(first in first out) 선입선출

In [ ]:
# 스택
l = [10, 20, 30]
l.append(40)
l.pop()

# 앞으로도 뺄 수 있는데?
# 스택을 구현하고 싶으면 한쪽방향으로만 넣고 빼는 것으로 구현

In [ ]:
# 큐
l = [10, 20, 30]
l.append(40)
l.pop(0)

In [ ]:
l = [10, 20, 30]
l.append(0, 40)
l.pop()

In [ ]:
# 큐
l = [10, 20, 30]
l.insert(0, 40)
l.pop(0)

In [ ]:
# 2차원 배열
x = 10 # 스칼라 0차원
x = [10, 20, 30] # 벡터 1
x = [[10, 20], [30, 40]] # 매트릭스 2
x = [[10, 20], [30, 40], [[10, 20], [30, 40]]] # 텐서 3차 이상

In [ ]:
x = [[10, 20], [30, 40], [50, 60]]
x[1]

In [ ]:
x[1][0]

In [ ]:
x = [[10, 20],
     [30, 40]]
y = [[1, 2],
     [3, 4]]
x + y # 에러는 안나지만 우리가 원하는 결과 값은 아닙니다.

In [ ]:
z = [[x[0][0]+y[0][0]], [x[0][1]+y[0][1]],
     [x[1][0]+y[1][0]], [x[1][1]+y[1][1]]]
z

In [ ]:
x = [1, 2, 3, 1, 1, 1, 1]
x.remove(1) # 처음 만나는 것 하나만 지울 수 있음
x

In [ ]:
# reverse

x = [1, 5, 4, 3, 7, 2]

x.reverse() # 역순이고 역정렬이 아닙니다. 원본을 수정합니다.
x

In [ ]:
x = [1, 5, 4, 3, 7, 2]

list(reversed(x)), x # 역순이고 역정렬이 아닙니다. 원본을 수정하지 않습니다.

In [ ]:
x = [1, 5, 4, 3, 7, 2]

x.sort() # 정렬입니다. 원본을 수정합니다.
x

In [ ]:
x = [1, 5, 4, 3, 7, 2]

sorted(x), x
# 정렬입니다. 원본을 수정합니다. 게다가 출력값이 리스트입니다.

In [ ]:
# 역정렬
x = [1, 5, 4, 3, 7, 2]

# 방법1
list(reversed(sorted(x)))

# 방법2
x.sort()
x.reverse()
x

In [ ]:
x = [
    [10, 20, 30],
    [55, 48, 22],
    [32, 75, 35],
    [42, 55, 33],
]

def 함수(x):
    return x[2]

sorted(x, key=함수)

In [ ]:
x = [
    [10, 20, 30],
    [55, 48, 22],
    [32, 75, 35],
    [42, 55, 33],
]

def 함수(x):
    return x[2]

sorted(x, key=함수)[::-1] # 이렇게는 잘 사용하지 않습니다.
sorted(x, key=함수, reverse=True)

#튜플

In [ ]:
# 참조불변
# 변경이불가능한 자료형입니다.

x= (10, 20, 30)
x[0] = 100
x

In [ ]:
# 'count'
# 'index'
# 불변

x= (10, 20, 30)
dir(x)

In [ ]:
x = [10, 20, 30]
y = (x, 100, 200)

y

In [ ]:
x[0] = 1000
y

In [ ]:
# 어떨 때 튜플을 사용할까요?
# 1. 불변해야 하는 값을 저장할 때
# 2. 갯수가 정해져 있는 자료구조를 표현할 때

In [ ]:
{'one':1, 'two':2}.items()

#딕셔너리

In [ ]:
# 순서가 있습니다. python 3.6 versiom에서부터 순서가 생겼습니다.
# 변경이 가능한 자료형입니다.
# key와 value의 쌍으로 이뤄져 있습니다.

{'한라산': 3200, '백두산': 4000, '사라봉':300}
{'one' : '하나', 'two' : '둘', 'three' : '셋'}

In [ ]:
d = {'one' : 1, 'two' : 2}
d['one']
#d[0]

In [ ]:
d['one'] = '하나'
d

In [ ]:
type(d)

In [ ]:
dir(d)

In [ ]:
jeju = {'한라봉' : 4000, '바나나' : 2000, '귤' : 500}
seoul = jeju

seoul['한라봉'] = 5000
jeju

In [ ]:
jeju = {'한라봉' : 4000, '바나나' : 2000, '귤' : 500}
seoul = jeju.copy()

seoul['한라봉'] = 5000
jeju, seoul

In [ ]:
dict.fromkeys('hello')

In [ ]:
dict.fromkeys('hello', True)

In [ ]:
dict.fromkeys(['하나', '둘', '셋'],True)

In [ ]:
jeju = {'한라봉' : 4000, '바나나' : 2000, '귤' : 500}
# jeju['천혜향']
jeju.get('천혜향')
jeju.get('천혜향', '값이 없습니다!')
jeju.get('한라봉', '값이 없습니다!')

In [ ]:
jeju = {'한라봉' : 4000, '바나나' : 2000, '귤' : 500}
# jeju.items([0])
jeju.items()
list(jeju.items())

In [ ]:
list(jeju.items())[0][1]

In [ ]:
jeju.keys()

In [ ]:
jeju.values()

In [ ]:
jeju = {'한라봉' : 4000, '바나나' : 2000, '귤' : 500}
jeju.pop('한라봉')
jeju

In [ ]:
jeju = {'한라봉' : 4000, '바나나' : 2000, '귤' : 500}
jeju.popitem()
jeju

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("three", "셋test")
print(four_value)
print(numbers)

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three' : '셋test', 'four': '넷', 'five': '다섯'})
print(numbers)

In [ ]:
{'one': '하나', 'two': '둘', 'three': '셋'} | {'four': '넷'}

#셋

In [ ]:
# 중복을 허락하지 않는 순서가 없는 자료형
s = {1, 2, 3, 4, 4, 4, 4, 4, 4}
s

In [ ]:
set('hello world')

In [ ]:
s = {1, 2, 3}
ss = {3, 4, 5}

s | ss # 합집합

In [ ]:
s = {1, 2, 3}
ss = {3, 4, 5}

s - ss # 차집합

In [ ]:
s = {1, 2, 3}
ss = {3, 4, 5}

s & ss # 교집합

In [ ]:
s = {1, 2, 3}
ss = {3, 4, 5}

dir(s)

print(s.intersection(ss))
print(s.difference(ss))
print(s.union(ss))

In [ ]:
s = {1, 2, 3}
s.add(4)
s

In [ ]:
s = {1, 2, 3}
s.add(4)
s

# built-in function

In [ ]:
sum([10, 20, 30, 40])

In [ ]:
len([10, 20, 30, 40])

In [ ]:
sum([10, 20, 30, 40], 100)

In [ ]:
sum([[10, 20], [30, 40]], [])
# sum([[10, 20], [30, 40]])

In [ ]:
[10, 20] + []
[10, 20] + [30, 40]

In [ ]:
sum([[10, 20], [30, 40]], [])
sum(sum([[10, 20], [30, 40]], []))

In [ ]:
len('hello world')

In [ ]:
len({1, 2, 3})

In [ ]:
len({'one':1, 'two':2})

In [ ]:
'h' in 'hello'
1 in {1, 2, 3, 4}
1 in {1, 2, 3, 4}
'one' in {'one':1, 'two':2}
1 in {'one':1, 'two':2}

# 조건문

* 어떤 구문이 조건에 합당한지 합당하지 않은지를 판단하여 코드를 분기

In [ ]:
if True:
    print('hello world')

In [ ]:
if 10 > 3:
    print('hello world 1')
    print('hello world 2')
    print('hello world 3')
print('hello world 4')

In [ ]:
if 10 < 3:
    print('hello world 1')
    print('hello world 2')
    print('hello world 3')
print('hello world 4')

In [ ]:
if '': # if 문 뒤에는 구문이 들어오는데 이 구문이 True, False 중 어떤 것으로 평가되는지 알아야 합니다.
    print('hello world 1')
    print('hello world 2')
    print('hello world 3')
print('hello world 4')

In [ ]:
print(bool(''))
print(bool(' '))
print(bool('a'))
print(bool(0))
print(bool(-1))
print(bool(100))
print(bool([]))
print(bool([10, 20]))

In [ ]:
용돈 = 100000
점수 = 85

if 점수 >= 90:
    print('A+')
    용돈 += 1000000

if 점수 >= 80:
    print('A')
    용돈 += 100000

if 점수 >= 70:
    print('B')
    용돈 += 10000

if 점수 <= 70:
    print('C')
    용돈 += 10000

print(용돈)

In [ ]:
용돈 = 100000
점수 = 85

if 점수 >= 90:
    print('A+')
    용돈 += 1000000

elif 점수 >= 80:
    print('A')
    용돈 += 100000

elif 점수 >= 70:
    print('B')
    용돈 += 10000

else:
    print('C')
    용돈 += 10000

print(용돈)

In [ ]:
if True:
    print('hello')
else:
    print('world')

In [ ]:
if True:
    print('hello')
else True:
    print('world')

In [ ]:
if True:
    print('one')
    if True:
         print('two')
elif True:
    print('three')

In [ ]:
i = 12
if i % 2 == 0:
    if i % 5 == 0:
         print('one')
elif i % 3 == 0:
     print('two')

print('end')

In [ ]:
# 나아가기
i = 10
if i % 2 == 0  and i % 5 == 0:
         print('one')
elif i % 3 == 0:
     print('two')

print('end')

In [ ]:
# 나아가기

x = 10
if x % 2 == 0: print('hello')

In [ ]:
# 나아가기

x = (100 if 10 > 3 else -100) # 3항 연산자
x

In [ ]:
text = 'four'
match text:
    case 'one':
        print('Hello')
    case 'two':
        print('World')
    case 'three':
        print('Hello')
    case 'World':
        print('World')

# 반복문
* 코드를 반복

In [ ]:
print('hello world')
print('hello world')
print('hello world')
print('hello world')
print('hello world')

In [ ]:
x = 0
while x < 5:
    print('hello world')
    x += 1
print('end')

In [ ]:
x = 0
while x < 5:
    print('hello world')
    x += 2
print('end')

In [ ]:
s = 0
x = 0

while x < 101:
    s += x #누적
    x += 1

s

In [ ]:
# step1 직접 손으로 써봅니다.
# step2 변경되는 변수를 체크합니다.
# step3 반복문으로 변경되는 변수를 치환합니다.

'''
step 1
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

step 2
2 X {1} = {2}
2 X {2} = {4}
2 X {3} = {6}
...
'''

i = 1
while i < 10:
    print(f'2X{i}')
    i += 1

In [ ]:
# 100이하의 3의 배수와 5의 배수를 모두 더해주세요

x = 0
s = 0
while x < 101:
    s += x
    x += 3

x = 0
while x < 101:
    s += x
    x += 5

x = 0
while x < 101:
    s -= x
    x += 15

s

In [ ]:
x = 0
s = 0
while x < 101:
    if x % 3 == 0 o

In [ ]:
# while : 무한반복에서 많이 사용합니다.
# for : 객체를 순회할 때 많이 사용합니다.

In [ ]:
s = 'hello world'
count = 0

while count < len(s):
    print(s[count])
    count += 1

h
e
l
l
o

w
o
r
l
d

In [ ]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
s = 'hello world'
순회가능한객체 = iter(s)
next(순회가능한객체)

'h'

In [ ]:
next(순회가능한객체)

StopIteration:

In [ ]:
# 순회 불가능한 객체 : 정수, 실수, 불리언
# 순회 가능한 객체 : 문자열, 리스트, 튜플, 딕셔너리, 셋, range, map, filter, reversed 등

In [ ]:
for i in [10, 20, 30, 40]:
    print(i)
    print('end')

In [ ]:
for i in [10, 20, 30, 40]:
    print(i)
print('end')

In [ ]:
for i in (10, 20, 30, 40):
    print(i)
print('end')

10
20
30
40
end

In [ ]:
for i in {'one':1, 'two':2}:
    print(i)
print('end')

one
two
end

In [ ]:
for i in {'one':1, 'two':2}.items():
    print(i)
print('end')

('one', 1)
('two', 2)
end

In [ ]:
for i in {'one':1, 'two':2}.keys():
    print(i)
print('end')

one
two
end

In [ ]:
x = {'one':1, 'two':2}
for i in x:
    print(i)
    print(x[i])
print('end')

In [ ]:
for i in {'one':1, 'two':2}.values():
    print(i)
print('end')

In [ ]:
{'one':1, 'two':2}.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
type()

In [ ]:
for i in [[10, 20], [30, 40], [50, 60]]:
    print(i)

[10, 20]
[30, 40]
[50, 60]

In [ ]:
# 문제: 학생들의 수학 평균을 구하시오.
# 학생점수 = [[이름, 국, 영, 수], ...]
학생점수 = [
    ['hojun', 70, 80, 90],
    ['junho', 40, 30, 10],
    ['mino', 50, 60, 35]
]

학생점수[0]
(학생점수[0][3] + 학생점수[1][3] + 학생점수[2][3]) / 3

45.0

In [ ]:
for i in 학생점수:
    print(i)

['hojun', 70, 80, 90]
['junho', 40, 30, 10]
['mino', 50, 60, 35]

In [ ]:
수학점수 = 0
for i in 학생점수:
    수학점수 += i[3] # i[3]번째 점수가 수학점수

수학점수 / 3

45.0

In [ ]:
x, y = [10, 20] # 언패킹: 포장을 벗겨낸다.
x

10

In [ ]:
# 스왑
x = 10
y = 20

# x와 y를 교환하는 방법1 (python에서는 사용하지 않습니다.)
x = 10
y = 2
temp = 0

temp = x
x = y
y = temp

# x와 y를 교환하는 방법2 (python에서는 이 방법을 권장합니다.)
x = 10
y = 20
x, y = y, x

print(x)
print(y)

20
10

In [ ]:
x, y, z = [1, 2, [10, 20]]
z

[10, 20]

In [ ]:
수학점수 = 0
for 이름, 국, 영, 수 in 학생점수:
    수학점수 +=

수학점수 / 3

In [ ]:
# range(start, stop, step)

In [ ]:
# python 2, x에서는 range는 list였습니다.
# 효율적인 메모리 관리를 위해 3.x에서는 리스트가 아니라
# range라는 타입으로 지정합니다.

for i in range(0, 10, 1):
    print(i)

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [ ]:
print(list(range(10)))
print(list(range(5, 10)))
print(list(range(3, 10, 2)))

###############################

print(list(range(10, 0, -1)))
print(list(range(10, 5, -2)))
print(list(range(10, 5)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6]
[]

In [ ]:
s = 0
for i in range(1, 101):
    s += i
s

5050

In [ ]:
s = 0
for i in range(1, 101):
    if i % 2 == 0:
        s += i
s

2550

In [ ]:
s = 0
for i in range(0, 101, 2):
    s += i
s

2550

In [ ]:
s = 0
for i in '123123567':
    s += int(i)
s

30

In [ ]:
# 첫 과제: 다음 수업까지 여기서 숫자를 모두 더하는 코드를 작성해오세요.
# '123ab57bn1'
s = 0
for i in '123ab57bn1':
    if i.isdigit():
        s += int(i)
s

19

In [ ]:
i = 2
j = 1

while i < 10:
    while j < 10:
        print(f'{i} X {j} = {i * j}')
        j += 1
    j = 1
    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
        r

while i < 10:
    while j < 10:
        print(f'{i} X {j} = {i * j}')
        j += 1
    j = 1
    i += 1

# break, continue, pass

In [ ]:
for i in range(10):
    if i == 5:
        break

In [ ]:
for k in range(3):
    for i in range(10):
        print(k, i)
        if i == 5:
            break

0 0
0 1
0 2
0 3
0 4
0 5
1 0
1 1
1 2
1 3
1 4
1 5
2 0
2 1
2 2
2 3
2 4
2 5

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(3):
    print(i)
    if i == 2:
        break
else: # 정상적으로 종료가 되었다면
    print('hello')

0
1
2

# 함수

In [ ]:
# 땅파기
# 수도설치하기
# 땅다지기
# 벽돌쌓기
# 지붕올리기
# 인테리어하기

In [ ]:
def one(): # 함수의 정의
    print('hello world') # 함수의 코드
    print('hello world')
    print('hello world')
    return 10 # 함수의 리턴값


one() + one()

hello world
hello world
hello world
hello world
hello world
hello world

20

In [ ]:
# 파선아실
def add(x, y): # x, y는 파라미터
    z = x + y
    return z

add(10, 20) + add(30, 40) # 10, 20, 30, 40 아규먼트

100

In [ ]:
# 파선아실
def add(a, b, c):
    z = a + b + c
    return z

add(10, 20, 30) + add(30, 40, 50)

180

In [ ]:
def one():
    pass

def two():
    pass

def three():
    pass

In [ ]:
# 파라미터가 없고, 반환값도 없는 함수
def one():
    print('hello world')

one()

hello world

In [ ]:
# 파라미터가 있고, 반환값이 없는 함수
def one(x):
    print(f'입력값은 {x}입니다.') # print는 출력이지 이 함수의 반한값이 아닙니다.

one(10)

입력값은 10입니다.

In [ ]:
# 파라미터가 없고, 반환값은 있는 함수

def one():
    return 10

one()

In [ ]:
# 파라미터가 있고, 반환값도 있는 함수

def one(x):
    return 10

one()

In [ ]:
# 오해하는 경우
def one(x):
    print(f'입력값은 {x}입니다.')

print(one(10))

In [ ]:
def one(x):
    print(f'입력값은 {x}입니다.')
    return None

one(10) # 왜 None을 출력하지 않죠?

In [ ]:
def one(x):
    print(f'입력값은 {x}입니다.')
    return 10

one(10) # 이것은 10이 출력이 됩니다!

In [ ]:
def one(x):
    print(f'입력값은 {x}입니다.')
    return None

one(10)
10
None # 출력 안합니다! print로 출력하지 않는한 None 출력하지 않아요.

입력값은 10입니다.

In [ ]:
# 기본값 입력
def one(a=10, b=20, c=30):
    return a + b + c

one()
one(100)
one(100, 200)
one(100, 200, 300)
one(c=300)

60

In [ ]:
# 리스트와 같은 컨벤션 자료형을 아규먼트로 넣었을 때 주의할 점

a = 10
b = [10, 20, 30]

def one(x):
    x = 100

one(a)

def two(y):
    y.append(100)

two(b)

a, b

# lamda

In [ ]:
print('hello world')

hello world

In [ ]:
def one():
    return 1 # 같은 것을 가리키고 있음

In [ ]:
hojun = print
hojun('hello world')

hello world

In [ ]:
hello = [print, sum, len]
hello[0]('hello world')

hello world

In [ ]:
(lambda x, y : x + y)(10, 20)

### 같은 코드

add = lambda x, y: x + y
add(10, 20)

### 같은 코드

def add(x, y):
    return x + y

add(10, 20)

30

In [ ]:
# lambda 파라미터: 리턴값

In [ ]:
def f(x):
    return x > 5

list(filter(f, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[6, 7, 8, 9, 10]

In [ ]:
list(filter(lambda x: x> 5, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))

[6, 7, 8, 9, 10]

In [ ]:
# 짝수만 다 더하고 싶을 경우
sum(filter(lambda x: x % 2 == 0, [1,2, 3, 4, 5, 6, 7, 8, 9, 10]))

30

In [ ]:
# filter는 왜 filter만 햇을 때 값을 주지 않나요?
filter(lambda x: x % 2 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# filter 연산은 진행되지 않은 상태입니다.

# built-in function 2

In [ ]:
# all() : 모든 것이 전부 다 True, False인 것이 없는가 검사
# any() : 하나라도 True이면 True 입니다.
# dir() : 객체가 가진 모든 속성을 나타냅니다.
# enumerate(iter, start_index): 인덱스와 함께 값을 나열합니다.
# filter(fund, iter):함수의 결과값이 True인 것을 반환합니다.
# format() format(1000000000, ',')
# id() 가리키고 있는 주솟값
# type() 객체 타입을 출력합니다.
# isinstance() class 배우고 하겠습니다.
# issubclass() ''
# len() 객체의 길이를 출력합니다.

# map(fun, iter) iter 객체를 순회 돌면서 function의 반환값으로 새로운 순회 가능한 객체를 만듭니다.
zip(iter1, iter2, iter3...) 순회 가능한 객체들의 쌍으로 순회 가능한 객체를 만듭니다.
max() 최댓값
min() 최솟값
sum() 안에 있는 값을 모두 더합니다.

iter()
next()

print()
range()
reversed()
sorted()

In [ ]:
all([True, True, False])
all([True, True, True])
all([])

True

In [ ]:
all([True, True, False])
all([True, True, True])
all([False, False])
all([])

True

In [ ]:
l = [10, 20, 30]
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
list(enumerate(['BTS', '아이유', '뉴진스']))
list(enumerate(['BTS', '아이유', '뉴진스'], 1))
list(enumerate(['BTS', '아이유', '뉴진스'], 100))

[(100, 'BTS'), (101, '아이유'), (102, '뉴진스')]

In [ ]:
list(filter(lambda x: x % 2 == 0, [1,2, 3, 4, 5, 6, 7, 8, 9, 10]))

[2, 4, 6, 8, 10]

In [ ]:
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [ ]:
format(1000000000, ',') # , 찍을 때 아님 ㅂㄹ 안 씀

'1,000,000,000'

In [ ]:
a = 10000
b = a

id(a), id(b)
a is b

True

In [ ]:
# class 배우고 다시 하겠습니다. 지금은 기억하지 않으셔도 ㅇㅋ
issubclass(bool, int) # True
issubclass(int, float)
issubclass(float, complex)
issubclass(complex, float)

False

In [ ]:
len('hello world')

11

In [ ]:
# len(filter(lambda x: x % 2 == 0, [1,2, 3, 4, 5, 6, 7, 8, 9, 10])) # error

In [ ]:
def f(x):
    return x ** 2

list(map(f, [10, 20, 30, 40]))

### 같은 코드

list(map(lambda x: x ** 2, [10, 20, 30, 40 ]))

In [ ]:
# sum(list(map(f, [10, 20, 30, 40]))) 이해부족
sum(map(f, [10, 20, 30, 40]))

In [ ]:
list(zip('abc', [10, 20, 30]))

[('a', 10), ('b', 20), ('c', 30)]

In [ ]:
list(zip([1, 2, 3], [10, 20, 30], 'hello'))